rules_version = '2';
service cloud.firestore {
    match /databases/{database}/documents {

      // the below is not working
        match /vendors/{vendorId} {
            allow write: if
                request.resource.data.rfid != null
                && request.resource.data.rfid is string
                && request.resource.data.rfid != ""
                && request.resource.data.name != null
                && request.resource.data.name is string
                && request.resource.data.name != ""
                && request.resource.data.name.size() <= 32
                && request.resource.data.email is string;
        }
        match /{document=**} {
            allow read: if
                true;
        }
    }
}